h1{
    text-align: center;
    color: rgb(37, 35, 39);
    height: auto;
   font-family: 'Times New Roman', Times, serif;
   font-style: inherit;

}
.Nahid{
    font-size: 20px;
    color:black;
    border: 15px solid green;
    border-radius: 10px;
    padding: 50px;
    width: 1350px;
    margin: 20px;
    text-align: justify;
    background-color: lightslategrey;
}
.Nirjona{
    font-style: italic;
    color: black;
    border: darkblue 10px ;
    border-radius: 10px;
    padding: 10px;
    padding-top: 10px;
    text-align: justify;
    background-color: cadetblue;
}